body {
  position: relative;
}

.pic {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/proxy/aZzwb5LzKX21vdD1aPILZXax3BzqxPkIOibvOc7r0i2hGPAhq6RLqZfCP1mXTyITWFwwTaoxp0DIA9Rp54jpt0WAMJ2I2kdznwHXsezP9U2kvLFRHllsXtdWSrZ5RQ);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.container {
  height: 50%;
  width: 50%;
  font-family: "Death Note Font", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.container h1 {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(255, 255, 255);
}

.alpha {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}

/* part alpha  */

.alpha {
  background-image: url(death-note.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-family: "Death Note Font", sans-serif;
}

.nav img {
  position: absolute;
  right: 170px;
}

#search {
  width: 50vw;
  height: 22px;
  padding: 10px;
  box-shadow: 5px 5px 18px 1px #000000;
  border: none;
  border-radius: 5px;
  font-family: "Death Note Font", sans-serif;
}



